<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>00405512</string>
	<string>交通银行</string>
	<string>0049104</string>
	<string>交通银行</string>
	<string>0053783</string>
	<string>交通银行</string>
	<string>621226</string>
	<string>中国工商银行</string>
	<string>621227</string>
	<string>中国工商银行</string>
</array>
</plist>
